{:deps {taipei.404/reitit-oauth2 {:local/root ".."}
        integrant/integrant      {:mvn/version "0.8.0"}
        http-kit/http-kit        {:mvn/version "2.5.3"}
        ring/ring-core           {:mvn/version "1.9.3"}
        ring/ring-defaults       {:mvn/version "0.3.2"}
        metosin/reitit           {:mvn/version "0.5.13"}
        clj-http/clj-http        {:mvn/version "3.12.2"}
        cheshire/cheshire        {:mvn/version "5.10.0"}
        org.clojure/data.json    {:mvn/version "2.3.1"}
        camel-snake-kebab        {:mvn/version "0.4.2"}
        hiccup/hiccup            {:mvn/version "1.0.5"}}}
