{:deps {ring/ring-core          {:mvn/version "1.9.3"}
        clj-http/clj-http       {:mvn/version "3.12.2"}
        cheshire/cheshire       {:mvn/version "5.10.0"}
        clj-time/clj-time       {:mvn/version "0.15.2"}}}
